.ContenedorEncabezado{
    width: 364px;
    height: 26px;
    top: -69px;
    display: flex;
    margin: 10px;
}
.Encabezado{
    font-size: 16px;
    color: #C4C4CC;
    justify-content: space-between;
}